<template>
    <div class="container">
        <header style="text-align: center" >
            <h1>Ostrov</h1>
        </header>

        <menu>
            <ContentList v-slot="{ list }">
                <ul>
                    <NuxtLink v-for="article in list" :to="article._path">
                        <li :key="article._path">
                            {{ article.title }} 
                        </li>
                    </NuxtLink>
                </ul>
            </ContentList>
        </menu>

        <div style="flex: 1; display: flex; justify-content: center; align-items: center; padding-bottom: 75px;">
            <ContentDoc v-slot="{ doc }">
                <article style=" display: flex; justify-content: center; font-size: 19px ; ">
                    <div class="hero-text">{{ doc.description }}</div>
                    
                </article>
            </ContentDoc>
        </div>
    </div>

    <main>
        <ContentDoc>
            <template #not-found>
                <h1>404 - Stránka nenalezena</h1>
                <p>
                    <NuxtLink to="/">Zpět na úvodní stránku</NuxtLink>
                </p>
            </template>
        </ContentDoc>
    </main>
</template>

<style>
/* @import url('markdown-air/css/air.css'); */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    background-color: #F9F8F8;
}

main {
    background-color: white;
    box-shadow: 10px 10px 5px #eee;
    padding: 15px;
    width: 50%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: none;
    margin: auto;
    padding: 15px;
    background-color: #e7e7e7;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    
}

* {
    font-family: 'Mulish', sans-serif;
    font-weight: 200;
}

h1 {
    font-family: 'Merienda', sans-serif;
    font-size: 45px;
}

img {
    height: 200px;
    width: auto;
    height: unset;
    border-radius: 10px;
    margin: auto;
    margin: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero-text {
    width: 500px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    font-family: Mulish;
    font-weight: 200;
}

h3, p {
    text-align: left;
    margin-bottom: -10px;
}

h3 a {
    color: #444;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
    margin-top: 20px;
}

h3 {
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
}

menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

menu ul {
    padding: 0;
    display: flex;
}

menu li {
    list-style: none;
    background:none;
    border-radius: 5px;
    margin: 5px;
    padding: 0 7.5px;
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    font-weight: 200;
    text-transform: uppercase;
}

menu a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 500px) {
    menu {
        position: static;
        height: auto;
        width: 100%;
        padding: 0;
    }

    menu ul {
        margin: 0;
        padding: 0;
    }

    menu li {
        float: left;
    }

    menu li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    menu li a:hover {
        background-color: #111;
    }

    .container {
        padding: 15px;
    }
}
</style>